@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  /* width: 375px;
  height: 6968px; */
  margin: 0;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  background: #3c3a39;
}

.toolbar img {
  margin-left: 20px;
  margin-right: 20px;
}

.toolbar a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.headline-section {
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 1px;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  padding-bottom: 125px;
}

.primary-text {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-bottom: 0;
  width: 300px;
}

.supporting-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #fff5e1;
  margin: 0;
}

.description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.social-media {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.social-media img {
  margin: 0;
}

.title {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.title-h2 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
}

hr {
  width: 100%;
  text-align: center;
  border: 1px solid #212121;
}

.card-frames {
  display: grid;
  padding: 24px;
}

.featured {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.featured h2 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: #091e42;
  margin: 0;
}

.featured p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #091e42;
  margin: 0;
}

.tags {
  display: flex;
}

.ltags {
  padding: 10px 12px;
  border: 1px solid #8993a4;
  margin: 0 12px 0 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #091e42;
}

.project-button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
  letter-spacing: 0.03em;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  margin-top: 12px;
  border: 1px solid;
  border-color: #ff6b00;
}

.card-works {
  color: #fff;
  background-image: url("images/mask.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 24px;
}

.card-works .ltags {
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}

.card-works .project-button {
  width: 100%;
  background: #ff6b00;
}

.right-frame {
  margin-top: 84px;
  padding: 8px 16px;
}

.right-frame h2 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  margin: 0;
}

.right-frame p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.about {
  margin-top: 120px;
  padding: 24px;
  background-color: black;
  display: flex;
  flex-direction: column;
  background-image: url("images/frame.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: right;
  background-position-y: 440px;
}

.about p {
  color: #f4f5f7;
  font-size: 18px;
  line-height: 24px;
}

.about h2 {
  margin-top: 140px;
  letter-spacing: 0.6px;
  font-size: 72px;
  width: 350px;
}

.about .project-button {
  width: 190px;
  height: 48px;
  border-color: #ff6b00;
}

.about hr {
  margin-top: 209px;
  margin-bottom: 137px;
  border: 1px solid #fff;
}

.intro {
  display: flex;
  flex-direction: column;
}

.about ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
}

.skill {
  display: flex;
  gap: 12px;
}

.skill p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  margin: 0;
}

.skill-att {
  margin-top: 44px;
}

.skill-att ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 131.5px;
}

.skill-att ul li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
  color: #f4f5f7;
}

button:hover {
  background: rgba(255, 255, 255, 0.24);
  border-color: rgba(255, 255, 255, 0.24);
}
