@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  /* width: 375px;
  height: 6968px; */
  margin: 0;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  background: #3c3a39;
}

.toolbar a,
img {
  margin-left: 20px;
  margin-right: 20px;
}

.toolbar a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

.headline-section {
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 1px;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  padding-bottom: 125px;
}

.primary-text {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-bottom: 0;
  width: 300px;
}

.supporting-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #fff5e1;
  margin: 0;
}

.description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.social-media {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.social-media img {
  margin: 0;
}
